.u-section-1 .u-sheet-1 {
  min-height: 516px;
}

.u-section-1 .u-text-1 {
  margin: 39px auto 0;
}

.u-section-1 .u-table-1 {
  width: 798px;
  margin: 25px auto 60px;
}

.u-block-2d57-10 {
  height: 46px;
}

.u-block-2d57-25 {
  height: 46px;
}

@media (max-width: 991px) {
  .u-section-1 .u-table-1 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-table-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-table-1 {
    width: 340px;
  }
}